//- Kore Footer
//- Copyright(c) 2014 Koreviz
//- MIT Licensed
footer.block.block-inverse.app-footer
  .container
    .row
      .col-md-6.mb-5
        p.text-muted Copyright !{(new Date()).getFullYear()} Koreviz
      .col-md-6.mb-5
        ul.float-right.list-unstyled.list-spaced
          li.float-left.mr-2
            a.icon.icon-facebook.text-muted(href='https://www.facebook.com/Kings-Pearl-Cheese-1670792196509864/')
          li.float-left.mr-2
            a.icon.icon-twitter.text-muted(href='https://twitter.com/KingsPearlPgh')
          li.float-left.mr-2
            a.icon.icon-instagram.text-muted(href='https://www.instagram.com/kingspearlcheese/')
          li.float-left
            a.icon.icon-rss.text-muted(href='/posts.atom')
