//- Kore Header
//- Copyright(c) 2014 Koreviz
//- MIT Licensed
header.block.block-inverse.block-fill-height.app-header(style='background-image: url(https://d34ju9pzlz8mhr.cloudfront.net/files/599372d23d4a7a690fca85b5.jpg);')

  .block-xs-middle.pb-5
    .container
      .row
        .col-sm-10.col-lg-6.text-ribbon.app-text-ribbon
          h1.block-titleData Healthy, delicious, versatile
          p.lead.mb-4.text-muted Welcome to Kings Pearl Cheese. The perfect cheese to add to almost ANY dish. Kings Pearl Cheese is a young cow’s milk cheese that is handmade locally in Pittsburgh, PA. Our wonderful chefs have paired it with salads, soups, pasta, pizza, eggs, meats, pierogis, desserts- or get your favorite bread and oil and enjoy by itself as a snack.
