//- Kore Navbar
//- Copyright(c) 2014 Koreviz
//- MIT Licensed
.fixed-top.app-navbar
  nav.container.navbar.navbar-transparent.navbar-padded.navbar-toggleable-sm
    a.navbar-brand(href='/')
      img.d-inline-block.align-top(src='/img/kpc-logo.png', with='30', height='30')
      |  Kings Pearl Cheese
    button.navbar-toggler.navbar-toggler-right.hidden-md-up(type='button', data-toggle='collapse', data-target='#navbarNav')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse.text-uppercase
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='/our-story') Our Story
        li.nav-item
          a.nav-link(href='/partners') Partners
        li.nav-item
          a.nav-link(href='/store') Store
        li.nav-item
          a.nav-link(href='/contact') Contact
