//- Kore Script
//- Copyright(c) 2014 Koreviz
//- MIT Licensed
//- script(src='/script/bootstrap.js')
//- script(src='//cdn.koreviz.com/script/bootstrap.js')
script(src='//d34ju9pzlz8mhr.cloudfront.net/script/bootstrap.js')
script.
  window.bootstrap([
  // '/components/jquery/index.js',
  // '//cdn.koreviz.com/components/jquery/index.js',
  '//d34ju9pzlz8mhr.cloudfront.net/components/jquery/index.js',
  // '/components/lodash/index.js',
  // '//cdn.koreviz.com/components/lodash/index.js',
  '//d34ju9pzlz8mhr.cloudfront.net/components/lodash/index.js',
  // '/components/react/index.js',
  // '//cdn.koreviz.com/components/react/index.js',
  '//d34ju9pzlz8mhr.cloudfront.net/components/react/index.js',
  // '/components/react-dom/index.js',
  // '//cdn.koreviz.com/components/react-dom/index.js',
  '//d34ju9pzlz8mhr.cloudfront.net/components/react-dom/index.js',
  // '/components/fastclick/index.js',
  // '//cdn.koreviz.com/components/fastclick/index.js',
  '//d34ju9pzlz8mhr.cloudfront.net/components/fastclick/index.js',
  // '/components/tether/index.js',
  // '//cdn.koreviz.com/components/tether/index.js',
  '//d34ju9pzlz8mhr.cloudfront.net/components/tether/index.js',
  // '/components/boostrap/js/toolkit.min.js',
  // '//cdn.koreviz.com/components/bootstrap/js/toolkit.min.js',
  '//d34ju9pzlz8mhr.cloudfront.net/components/bootstrap/js/toolkit.min.js',
  // '/components/d3/index.js',
  // '//cdn.koreviz.com/components/d3/index.js',
  // '//d34ju9pzlz8mhr.cloudfront.net/components/d3/index.js',
  // '/components/tween/index.js',
  // '//cdn.koreviz.com/components/tween/index.js',
  // '//d34ju9pzlz8mhr.cloudfront.net/components/tween/index.js',
  // '/components/three/index.js',
  // '//cdn.koreviz.com/components/three/index.js',
  // '//d34ju9pzlz8mhr.cloudfront.net/components/three/index.js',
  // '/components/socket.io/index.js',
  // '//cdn.koreviz.com/components/socket.io/index.js',
  // '//d34ju9pzlz8mhr.cloudfront.net/components/socket.io/index.js',
  // '/script/core.js'
  // '//cdn.koreviz.com/script/core.js',
  // '//d34ju9pzlz8mhr.cloudfront.net/script/core.js',
  '/script/app.js'])
