//- Kore Style
//- Copyright(c) 2014 Koreviz
//- MIT Licensed
//- link(rel='stylesheet', href='/components/bootstrap/css/toolkit-minimal.min.css')
//- link(rel='stylesheet', href='//cdn.koreviz.com/components/bootstrap/css/toolkit-minimal.min.css')
link(rel='stylesheet', href='//d34ju9pzlz8mhr.cloudfront.net/components/bootstrap/css/toolkit-minimal.min.css')

//- link(rel='stylesheet', href='/style/core.css')
//- link(rel='stylesheet', href='//cdn.koreviz.com/style/core.css')
//- link(rel='stylesheet', href='//d34ju9pzlz8mhr.cloudfront.net/style/core.css')
link(rel='stylesheet', href='/style/app.css')
