//- Kore Index
//- Copyright(c) 2014 Koreviz
//- MIT Licensed

//- layout
extends layout

block header

block main
  .block.block-fill-height
    .container
      .row
        .col-sm-12
          h1.block-titleData Kings Pearl Cheese
          p.lead.mb-4
            | 1137 South Braddock Ave
            br
            | Pittsburgh, PA 15218
            br
            a(href='mailto:info@kingspearlcheese.com') info@kingspearlcheese.com
            br
            | Reg/Cert by Allegheny Count Department of Health
            br
            | Reg/Cert by PA Department of Agricultural
