//- Kore Index
//- Copyright(c) 2014 Koreviz
//- MIT Licensed

//- layout
extends layout

block header

block main
  .block.block-fill-height
    .container
      .row
        .col-sm-12
          h1.block-titleData Our Story
          p.lead.mb-4 Around the turn of the century at the age of 13, Pearl King was working for a family in New York City as a housekeeper and cook. While Pearl was working in New York, she invented a nutritious and delicious cheese that fed the families she cared for and delighted her employer. After saving every dollar of her earnings, Pearl King married and moved to Western, PA. Her husband worked for steel and tin mills and together, they raised their 10 children. During the difficult years of mill toil and child rearing, Pearl made her homemade cheese to feed her own family and taught several of her children, including one grandson (Michael Jacobs), how to make what is now known as Kings Pearl Cheese. Michael began making KPC on his own in 1972 in his Shadyside apartment for family members and friends. The recipe has been passed down through four generations and 100 years later Michael and Daniel Jacobs (Grandson and Great Grandson) decided that the family secret needed to be shared.
