//- Kore Index
//- Copyright(c) 2014 Koreviz
//- MIT Licensed

//- layout
extends layout

block header

block main
  .block.block-fill-height
    .container
      .row
        .col-sm-12
          h1.block-titleData Partners
          p.lead.mb-4
            ul.iconlist
              li
                a(href='http://www.thecarltonrestaurant.com/') The Carlton Restaurant
                br
                Chef Simon DeJohn
              li
                a(href='http://railyardtap.com/') Railyard Grille and Tap Room
                br
                Chef Steve Knightlinger
              li
                a(href='http://www.basketofpittsburgh.com/') Basket of Pittsburgh
              li
                a(href='http://www.wildrosemary.com/') Wild Rosemary Bistro
                br
                Chef Gloria Fortunato
              li
                a(href='http://www.square-cafe.com/') Square Cafe
                br
                Chef Kevin Kelley
              li
                a(href='http://www.summitinnresort.com/') The Historic Summit Inn Resort
                br
                Chef Ray Paris
              li
                a(href='http://www.marketstreetgrocery.com/') Market St. Grocery
                br
                Chef Chad Rapp
              li
                a(href='http://www.smiling-moose.com/') Smiling Moose
                br
                Proprietor Michael Patrick Cicon Scarlaletti
              li
                a(href='http://www.libertypolespirits.com/') Mingo Creek Craft Distillers, Purveyors of Liberty Pole Spirits
                br
                Proprietors Jim and Ellen Hough
              li
                a(href='http://www.insurrectionaleworks.com/') Insurrection AleWorks
              li
                a(href='http://www.saloonofmtlebanon.com/') Saloon of Mt. Lebanon
                br
                Keith Sheppard and PJ Mastylak
              li
                a(href='http://www.bubbaspgh.com/') Bubba’s Gourmet Burgers and Beer
                br
                Proprietor Bubba
              li
                a(href='http://3riversbeer.com/') 3R6P
