//- Kore Index
//- Copyright(c) 2014 Koreviz
//- MIT Licensed

//- layout
extends layout

block header

block main
  .block.block-fill-height
    .container
      .row
        .col-sm-12
          h1.block-titleData Coming Soon
